body {
}

.home-wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 24px;
}

.primary-color {
    color: #00d1b2;
}

.link-color {
    color: #485fc7;
}

.success-color {
    color: #3e8ed0;
}

.info-color {
    color: #48c78e;
}

.warning-color {
    color: #ffe08a;
}

.danger-color {
    color: #f14668;
}

